*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

input[type="checkbox"]:checked {
    background-color: #634C9F;
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 20px;
}

body{
    font-family: "Inter", sans-serif;
}

/* header section */

header section.home {
    background: #634C9F;
}

header div.top_bar { 
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: #fff;
}

header div.top_bar div.left h6 { 
    font-size: 12px;
    font-weight: 600;
    align-items: center;
}

header div.top_bar div.right { 
    display: flex;
    align-items: center;
}

header div.top_bar div.right span { 
    font-size: 12px;
    font-weight: 500;
    opacity: 70%;
    margin-right: 10px;
}

header div.top_bar div.right div.timer { 
    display: flex;
    align-items: center;
}

header div.top_bar div.right div.timer p { 
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}

header div.top_bar div.right div.timer span { 
    font-size: 11px;
    font-weight: 400;
}

header section.container { 
    padding: 10px 0;
    border-bottom: 1px solid #E5E7EB;
}
header section.container div.middle_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.middle_bar div.left { 
    display: flex;
    align-items: center;
}

header div.middle_bar div.left ul { 
    display: flex;
    align-items: center;
}

header div.middle_bar div.left ul li { 
    margin-right: 12px;
}

header div.middle_bar div.left ul li:last-child {
    margin-right: 15px;
}

header div.middle_bar div.left ul li a { 
    color: #6B7280;
    font-size: 12px;
    font-weight: 500;
}

header div.middle_bar div.left p { 
    border-left: 2px solid #00000018;
    padding-left: 15px;
    color: #6B7280;
    font-size: 12px;
    font-weight: 400;
}

header div.middle_bar div.left p b { 
    font-weight: 700;
    color: #DC2626;
}

header div.middle_bar div.right ul { 
    display: flex;
    align-items: center;
}

header div.middle_bar div.right ul li { 
    font-size: 12px;
    font-weight: 500;
}

header div.middle_bar div.right ul li #lang { 
    background-color: #fff;
    color: #6B7280;
    margin-right: 12px;
    outline: none;
}
header div.middle_bar div.right ul li #currency {
    background-color: #fff;
    color: #6B7280;
    margin-right: 12px;
    outline: none;
}

header div.middle_bar div.right ul li a {
    color: #6B7280;
}

header section.main_bar {
    border-bottom: 1px solid #E5E7EB;
}

header div.container { 
    display: flex;
    align-items: center;
    padding: 15px 0;
}

header div.container h1.left img { 
    width: 150px;
    height: 40px;
}

header div.container div.text { 
    display: flex;
    align-items: center;
    margin-left: 30px;
}

header div.container div.text img { 
    margin-right: 20px;
}

header div.container div.text p { 
    font-size: 11px;
    font-weight: 400;
    color: #030712;
    margin-right: 25px;
    width: 50px;
}

header div.container div.text p b { 
    font-size: 13px;
    font-weight: 500;
}

header div.container div.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #F3F4F6;
    padding: 10px;
    border-radius: 8px;
}

header div.container #searchInput { 
    background: #F3F4F6;
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}

header div.container div.item { 
    margin-left: 30px;
}

header div.container div.item ul { 
    display: flex;
    align-items: center;
}

header div.container div.item ul li { 
    text-align: center;
    margin-right: 20px;
}

header div.container div.item ul li:last-child {
    margin-right: 0;
}

header div.container div.item ul li a {
    position: relative;
}

header div.container div.item ul li a small {
    background: #DC2626;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 12px;
}

header div.container div.item ul li a p { 
    color: #030712;
    font-size: 12px;
    font-weight: 400;
}

header section.content_bar {
    border-bottom: 1px solid #E5E7EB;
}

header section.content_bar div.items { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header div.items div.left div.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #634C9F;
}

header div.items div.left ul.menu { 
    display: flex;
    align-items: center;
}

header div.items div.left ul.menu li { 
    margin-right: 20px;
}

header div.items div.left ul.menu li a { 
    font-size: 15px;
    font-weight: 600;
    color: #030712;
}

header div.items div.left ul.menu li a.col {
    color: #634C9F;
    padding-bottom: 10px;
    border-bottom: 2px solid #634C9F;
}

header div.items div.left ul.menu li a:hover {
    color: #634C9F;
}

header div.items div.left ul.menu li a img { 
    margin-left: 5px;
}

header div.items div.right ul { 
    display: flex;
    align-items: center;
}

header div.items div.right ul li { 
    margin-right: 20px;
}

header div.items div.right ul li a {
    font-size: 15px;
    font-weight: 600;
    color: #030712;
}

header div.items div.right ul li a:hover {
    color: #634C9F;
}

header div.items div.right ul li:last-child {
    margin-right: 0;
}

header div.items div.right ul li.dot a { 
    font-size: 15px;
    font-weight: 600;
    color: #DC2626;
}

header div.items div.right ul li a button {
    background: linear-gradient(90deg, #DC2626 0%, #EA580C 100%);
    color: #fff;
    padding: 5px;
    margin-left: 5px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 700;
}

header div.items div.right ul li img { 
    margin-left: 5px;
}

/* main section  */

#main { 
    padding: 25px 0;
    margin-bottom: 30px;
}

#main div.main_top button.toggle {
    font-size: 14px;
    font-weight: 700;
    background: #E5E7EB;
    padding: 10px 18px;
    border-radius: 8px;
    color: #000;
    display: none;
    cursor: pointer;
}

#main div.main_top ul { 
    display: flex;
    align-items: center;
}

#main div.main_top ul li { 
    margin-right: 15px;
}

#main div.main_top ul li.one a { 
    color: #9CA3AF;
}

#main div.main_top ul li a {
    color: #030712;
    font-size: 12px;
    font-weight: 400;
}

#main div.main_top ul li a:hover {
    text-decoration: underline;
    color: #634C9F;
}

#main div.main_top ul li a img { 
    rotate: 270deg;
    position: relative;
    bottom: 2px;
    opacity: 0.5;
}

/* content section  */

#content {
    display: flex;
    padding-top: 40px;
}

#content section.content_box {
    width: 300px;
    height: 160vh;
    margin-right: 20px;
    color: #030712;
}

#content section.content_box div.widget {
    border-bottom: 1px solid #E5E7EB;
}

#content section.content_box div.widget h3 { 
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}

#content section.content_box div.widget div.price { 
    display: flex;
    align-items: center;
}

#content section.content_box div.widget div.price span { 
    margin-bottom: 10px;
}

#content section.content_box div.widget div.price span:last-child {
    margin-right: 0;
}

#content section.content_box div.widget div.price img {
    margin: 0 10px;
    margin-top: 10px;
}

#content section.content_box div.widget div.price span h6 { 
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
    margin-bottom: 8px;
}

#content section.content_box div.widget div.price span input { 
    border: 1px solid #D1D5DB;
    padding: 5px 10px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

#content section.content_box div.widget div.price span input::placeholder {
    color: #030712;
    font-size: 14px;
    font-weight: 500;
}

#content section.content_box div.widget img { 
    margin-bottom: 20px;
}

#content section.content_box div.widget div.bottom { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#content section.content_box div.widget div.bottom p { 
    font-size: 14px;
    font-weight: 400;
}

#content section.content_box div.widget div.bottom a.button { 
    font-size: 14px;
    font-weight: 700;
    background: #E5E7EB;
    padding: 10px 18px;
    border-radius: 8px;
    color: #000;
}

#content div.categories { 
    border-bottom: 1px solid #E5E7EB;
    margin-top: 25px;
    padding-bottom: 15px;
}

#content div.categories h3 { 
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

#content div.categories ul li { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

#content div.categories ul li.one a {
    color: #634C9F;
}

#content div.categories ul li.one a input::before {
    background: #634C9F;
    content: "✔";
    color: white;
    width: 16px;
    height: 16px;
    display: block;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
}

#content div.categories ul li a { 
    font-size: 14px;
    font-weight: 500;
    color: #030712;
    display: flex;
    align-items: center;
}

#content div.categories ul li a span {
    margin-left: 5px;
}

#content div.categories ul li a input { 
    width: 16px;
    height: 16px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
}

#content div.categories ul li img { 
    width: 10px;
}

#content div.filter { 
    border-bottom: 1px solid #E5E7EB;
    margin-top: 20px;
    padding-bottom: 20px;
}

#content div.filter h3 { 
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

#content div.filter ul li { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content div.filter ul li a { 
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #030712;
}

#content div.filter ul li a img { 
    margin-right: 10px;
}

#content div.filter ul li span { 
    font-size: 14px;
    font-weight: 400;
    color: #9CA3AF;

}

#content div.brand { 
    border-bottom: 1px solid #E5E7EB;
    margin-top: 20px;
    padding-bottom: 20px;
}

#content div.brand h3 { 
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

#content div.brand ul li { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content div.brand ul li a { 
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #030712;
}

#content div.brand ul li a input { 
    width: 16px;
    height: 16px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
}

#content div.brand ul li a p {
    margin-left: 10px;
}

#content div.brand ul li span { 
    font-size: 14px;
    font-weight: 400;
    color: #9CA3AF;

}

#content div.status { 
    margin-top: 20px;
    padding-bottom: 20px;
}

#content div.status h3 { 
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

#content div.status ul li { 
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

#content div.status ul li a { 
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    color: #030712;
}

#content div.status ul li input { 
    width: 16px;
    height: 16px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
}

#content section.item_box {
    width: 100%;
}

#content section.item_box div.top_section { 
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#content section.item_box div.top_section span.item { 
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#content section.item_box div.top_section span.item img { 
    margin-right: 5px;
}

#content section.item_box div.top_section span.item p { 
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

#content div.head { 
    background: url(../assets/banner-33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 280px;
    border-radius: 8px;
}

#content div.head div.left { 
    padding: 30px;
    width: 450px;
}

#content div.head div.left h6 { 
    font-size: 10px;
    font-weight: 600;
    background: #FFEDD5;
    display: inline;
    color: #7C2D12;
    padding: 8px;
    border-radius: 30px;
}

#content div.head div.left h2 { 
    margin-top: 25px;
    font-size: 30px;
    font-weight: 700;
    color: #111827;
}

#content div.head div.left p {
    margin-top: 10px; 
    font-size: 13px;
    font-weight: 400;
    color: #6B7280;
    margin-bottom: 20px;
}

#content div.head div.left a.button { 
    border: 1px solid #E5E7EB;
    background: #fff;
    font-size: 12px;
    font-weight: 700;
    color: #212529;
    padding: 10px 15px;
    border-radius: 30px;
}

#content div.head div.left a.button img { 
    margin-left: 5px;
}

#content div.banner { 
    margin-top: 15px;
    background: #F3F4F6;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

#content div.banner p { 
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
}

#content div.banner div.right { 
    display: flex;
    align-items: center;
}

#content div.banner div.right p.sort {
    margin-right: 100px;
}

#content div.banner div.right p b{ 
    font-size: 12px;
    font-weight: 500;
    color: #020617;
}

#content div.banner div.right p.show {
    border-left: 1px solid #D1D5DB;
    padding-left: 10px;
    margin-right: 30px;
}

#content div.banner div.right span.item { 
    display: flex;
    align-items: center;
}

#content div.banner div.right span.item img.one { 
    background: #D1D5DB;
    padding: 8px;
    border-radius: 6px;
    margin-right: 12px;
}

#content div.container { 
    margin-top: 15px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#content div.container div.item { 
    border: 1px solid #E5E7EB;
    width: 20%;
    padding: 20px;
    padding-bottom: 0;
}

#content div.container div.item.org {
    padding-bottom: 10px;
}

#content div.container div.item:last-child {
    border: none;
}

#content div.container div.item div.top {
    margin-bottom: 24px;
}

#content div.container div.item.org div.top {
    margin-bottom: 0;
}

#content div.container div.item div.top span{ 
    display: flex;
    justify-content: space-between;
}

#content div.container div.top span small { 
    background: #DC2626;
    font-size: 10px;
    font-weight: 800;
    color: #FEF2F2;
    padding: 8px;
    border-radius: 14px;
}
#content div.container div.item p.org {
    background: linear-gradient(90deg, #D4FC79 0%, #96E6A1 50%);
    text-align: left;
    display: flex;
    align-items: center;
    width: 80px;
    padding: 5px;
    border-radius: 40px;
    font-size: 10px;
    font-weight: 800;
    color: #166534;
    margin-bottom: 5px;
}

#content div.container div.item p.org img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

#content div.container div.item ul li { 
    display: flex;
    flex-direction: column;
    text-align: left;
}

#content div.container div.item ul li a h2{ 
    font-size: 1.1em;
    font-weight: 500;
    color: #030712;
    margin-bottom: 10px;
}
#content div.container div.item ul li span { 
    margin-bottom: 12px;
}
#content div.container div.item ul li span.one { 
    display: flex;
    align-items: center;
}

#content div.container div.item ul li span.one p { 
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
    margin-left: 10px;
}

#content div.container div.item ul li span.two { 
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: #DC2626;
}

#content div.container div.item:last-child ul li span.two {
    color: #111827;
}

#content div.container div.item ul li span.two p { 
    font-size: 16px;
    font-weight: 500;
    color: #111827;
    margin-left: 10px;
    text-decoration: line-through;
}
#content div.container div.item ul li span.three { 
    display: flex;
    align-items: center;
}
#content div.container div.item ul li span.three a img { 
    background: #16A34A;
    padding: 10px;
    border-radius: 8px;
}
#content div.container div.item ul li span.three p { 
    font-size: 11px;
    font-weight: 700;
    color: #16A34A;
    margin-left: 10px;
}

/* footer section  */

footer { 
    background: #F3F4F6;
    padding: 60px;
    padding-bottom: 0;
}

footer section.top { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer section.top div.left h2 { 
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 10px;
}

footer section.top div.left p { 
    font-size: 13px;
    font-weight: 400;
    color: #6B7280;
}

footer section.top div.right span.input-container { 
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    background: #fff;
    display: flex;
    align-items: center;
}

footer section.top div.right span.input-container img { 
    padding: 0 10px 0 15px;
}

footer section.top div.right span.input-container #mail { 
    width: 300px;
    font-size: 14px;
    font-weight: 400;
    color: #9CA3AF;
    outline: none;
}

footer section.top div.right span.input-container a.button { 
    background: #634C9F;
    color: #fff;
    padding: 22px;
    border-radius: 0 8px 8px 0;
    font-size: 14px;
    font-weight: 700;
}

footer section.top div.right p { 
    margin-top: 20px;
    font-size: 11px;
    font-weight: 400;
    color: #6B7280;
}

footer section.top div.right p span { 
    color: #634C9F;
}

footer section.middle { 
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D1D5DB;
    border-bottom: 1px solid #D1D5DB;
    padding: 40px 0;    
}

footer section.middle div.left { 
    margin-right: 40px;
}

footer section.middle div.left h3 { 
    font-size: 14px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 20px;
}

footer section.middle div.left p.main { 
    font-size: 13px;
    font-weight: 400;
    color: #6B7280;
    line-height: 19px;
    margin-bottom: 30px;
}

footer section.middle div.left ul li { 
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

footer section.middle div.left ul li img { 
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

footer section.middle div.left ul li span { 
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
}

footer section.middle div.left ul li span p { 
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    margin-top: 6px;
}

footer section.middle div.left ul li span.mail p {
    font-size: 14px;
    font-weight: 600;
}

footer section.middle div.right { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
}

footer section.middle div.right div.item { 
    margin-left: 40px;
    margin-bottom: 30px;
}

footer section.middle div.right div.item h3 { 
    font-size: 14px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 20px;
}

footer section.middle div.right div.item ul li {
    line-height: 1.5;
}

footer section.middle div.right div.item ul li a { 
    font-size: 13px;
    font-weight: 400;
    color: #4B5563;
}

footer section.middle div.right div.item.social ul li { 
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

footer section.middle div.right div.item.social ul li p { 
    font-size: 10px;
    font-weight: 500;
    color: #6B7280;
    margin-left: 15px;
}

footer section.middle span.logos h5 { 
    margin-top: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #111827;
    margin-bottom: 10px;
}

footer section.middle span.logos ul { 
    display: flex;
    align-items: center;
}

footer section.middle span.logos ul li { 
    background: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

footer section.middle span.logos ul li a {
    display: inline-block;
}

footer section.middle span.logos ul li a img {
    width: 20px;
    height: 20px;
}

footer section.bottom { 
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

footer section.bottom div.left p { 
    font-size: 12px;
    font-weight: 500;
    color: #6B7280;
    margin-bottom: 20px;
}

footer section.bottom div.left p b {
    font-weight: 600;
    color: #634C9F;
}

footer section.bottom div.left span.item img { 
    margin-right: 15px;
}

footer section.bottom div.right ul { 
    display: flex;
}

footer section.bottom div.right ul li { 
    margin-right: 10px;
}

footer section.bottom div.right ul li a { 
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
    color: #111827;
}

@media all and (max-width: 1200px) {
    #main div.main_top ul li a {
        display: none;
    }

    #main div.main_top button.toggle {
        display: block;
    }

    #content section.content_box {
        position: absolute;
        padding-right: 50px;
        background: #e28b1a;
        color: #fff;
        border-radius: 8px;
        padding: 20px;
        display: none;
    }

    #content section.content_box div.widget div.price span h6 {
        color: #fff;
    }

    #content section.content_box ul li a {
        color: #fff;
    }

    #content div.categories ul li.one a {
        color: #fff;
    }

    #content section.content_box ul li span {
        color: #fff;
    }

    #content section.item_box div.top_section span.item {
        display: none;
    }
    #content div.container div.item {
        width: 25%; 
    }

    
}

@media all and (max-width: 980px) {
    header div.top_bar div.right {
        display: none;
    }

    header div.middle_bar div.left {
        width: 100%;
        justify-content: center;
    }

    header div.middle_bar div.right {
        display: none;
    }

    header div.container {
        justify-content: center;
    }

    header div.container div.search-container {
        background: #fff;
        display: block;
        width: 10%;
        position: relative;
    }
    
    header div.container #searchInput {
        visibility: hidden;
        opacity: 0;
        margin-top: 30px;
        width: 180px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: opacity 0.3s ease, visibility 0s 0.3s; 
        position: absolute;
    }
    
    header div.container #searchInput.show {
        visibility: visible; 
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    
    header div.container div.search-container img.searchIcon {
        cursor: pointer; 
        float: right;
    }

    header section.content_bar div.items {
        justify-content: center;
    }

    header div.items div.right {
        display: none;
    }

    footer section.bottom {
        display: block;
    }

    footer section.bottom div.right {
        margin-top: 40px;
    }

    footer section.bottom div.right ul {
        justify-content: center;
    }
}

@media all and (max-width: 768px) {
    #content div.container div.item {
        width: 50%; 
    }

    #content div.container div.item:last-child {
        border: 1px solid #E5E7EB;
    }

    footer section.top {
        flex-direction: column;
    }

    footer section.top div.left {
        margin-bottom: 30px;
    }

    footer section.top div.left p {
        text-align: center;
    }

    footer section.middle {
        display: block;
        width: 100%;
    }

    footer section.middle div.left {
        text-align: center;
        margin-bottom: 50px;
    }

    footer section.middle div.left ul li {
        justify-content: center;
    }

    footer section.middle div.right {
        width: 100%;
    }
}

@media all and (max-width: 640px) {
    header div.container h1.left img {
        width: 130px;
    }

    header section.content_bar div.items {
        display: block;
    }

    header div.items div.left ul.menu {
        display: none;  
        flex-direction: column; 
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 10px;  
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        position: absolute;
    }
    
    header div.items div.left ul.menu li {
        margin-right: 0;
        padding: 15px;
        text-align: center;
    }

    header div.items div.left ul.menu li a {
        font-size: 18px;
        font-weight: 600;
    }

    header div.items div.left div.hamburger {
        display: block;
    }

    footer section.top div.right span.input-container {
        width: 300px;
    }

    footer section.top div.right span.input-container #mail {
        width: 100%;
        display: inline-block;
    }

    footer section.top div.right span.input-container a.button {
        padding: 18px;
    }

}

@media all and (max-width: 480px) {
    header div.middle_bar div.left {
        flex-direction: column;
    }

    header div.middle_bar div.left ul {
        margin-bottom: 8px;
    }

    header div.middle_bar div.left p {
        border: none !important;
    }

    header div.container h1.left img {
        height: 30px;
    }

    header div.container div.item {
        display: none;
    }

    header div.container div.search-container {
        width: 100%;
    }

    header div.container #searchInput {
       width: 100%;
    }

    header div.items div.left ul.menu li a.col {
        border: none;
    }

    #content div.head div.left {
        width: 100%;
    }

    #content div.head div.left h2 {
        font-size: 25px;
    }

    #content div.banner div.right p.sort {
        display: none;
    }

    #content div.container div.item {
        width: 100%;
    } 

    footer section.middle div.left ul li span p {
        font-size: 15px;
    }

    footer section.middle div.right div.item.social ul li p br {
        display: none;
    }

    footer section.bottom div.left span.item img {
        margin-bottom: 15px;
    }

    footer section.bottom div.right ul {
        flex-wrap: wrap;
    }

    footer section.bottom div.right ul li {
        margin-bottom: 10px;
    }
}

@media all and (max-width: 360px) {
    header div.top_bar div.left h6 {
        font-size: 10px;
        line-height: 1.5em;
    }

    header div.container div.text {
        display: none;
    }

    header div.items div.left ul li a {
        font-size: 10px;
    }

    #content div.banner div.right p.show {
        display: none;
    }

    #content div.container div.item ul li a h2 {
        font-size: 1em;
    }

    footer section.top div.left h2 {
        text-align: center;
    }

    footer section.middle div.right div.item {
        margin-left: 0;
    }

    footer section.middle div.left ul li span p {
        font-size: 12px;
    }

    footer section.middle div.left ul li img {
        width: 22px;
        margin-right: 15px;
    }
}







